.ContactPage{
    padding-top: 5%;
    footer{
        width: 100%;
        height: max-content;
        background-color: rgb(27, 27, 31);
        display: flex;
        position: fixed;
        bottom: 0;
        text-align: center;
        justify-content: center;
    }
}