@media screen and (min-width: 781px) {
.Head-List{
    margin-top: 35px;
}
li{
    font-size: large;
}
}

@media screen and (min-width: 568px) and (max-width: 780px) {
    .Head-List{
        margin-top: 35px;
    }
    li{
        font-size: large;
    }
}

@media screen and (max-width: 567px) {
    .Head-List{
        margin-top: 25px;
        vertical-align: middle;
        align-items: center;
    }
    li{
        font-size: medium;
    }
}