.bg_modal{
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    .content_modal{
        border-radius: 12px;
        background-color: rgb(255, 255, 255);
        color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .content_modal .title{
        display: inline-block;
        text-align: center;
        margin-top: 10px;
    }
    .titleCloseBtn{
        display: flex;
        justify-content: flex-end;
    }
    
    .titleCloseBtn button{
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
    .content_modal .body{
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        text-align: center;
    }
}










